*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/app-assets
/app/src/main/assets/assets
/app/src/main/assets/PrimerGrado/TemasDetGrado1.json
/app/src/main/assets/SegundoGrado/TemasDetGrado1.json
/app/src/main/assets/TercerGrado/TemasDetGrado1.json
/app/src/main/assets/CuartoGrado/TemasDetGrado1.json
/app/src/main/assets/QuintoGrado/TemasDetGrado1.json
/app/src/main/assets/PrimerGrado/TemasDetGrado1.json