@import url('../bootstrap/font.css?family=Nunito:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito';
}

h1{
	color: white;
	padding: 50px;
}
.container_ {
	margin-top: 20px !important;
	background-color: #94c4e4;
    max-width: 626px;
    margin: auto;
    border: 2px solid #612e82;
    border-radius: 20px;
    display: flex;
    padding: 23px 0;
}

.container_2 {
    max-width: 626px;
    margin: auto;
    padding: 23px 0;
}

.izquierdo{
	width: 95%;
	font-size: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.derecha{
	width: 30%;
}
.msj{
	font-size: 40px;
	height: 50px;
}
.derecha{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.opcion{
	width: 80px;
	height: 80px;
	border: 1px solid  #612e82 ;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #612e82 ;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nuevo-juego {
	cursor: pointer;
	background: linear-gradient(#94c4e4 , #4494d4 );
	padding: 9px;
	border-radius: 50px;
	border: white 5px solid;
	font-size: 107%;
	color: white !important;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.volver {
	cursor: pointer;
	background: linear-gradient(#eb3c63  , #ee0d3e  );
	padding: 9px;
	border-radius: 50px;
	border: white 5px solid;
	font-size: 107%;
	color: white !important;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.opciones {
	width: 100%;
	padding: 19px;
	background: linear-gradient(#ce7028 , #f9a954 );
	background-color: #f9a954;
	border-radius: 10px;
}

.titulo {
	text-align: center;
    font-size: 32px;
    text-shadow: 3px 3px 10px #ffffff;
    width: 650px;
    margin: auto;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: system-ui;
    color: #000;
}

body{
	background: url(../portadas/mate.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	height: 100vh;
	text-align: center;
	color: #262626;
}
