
* {
  box-sizing: border-box;
}

body{
  background: url(../portadas/palabras.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
}

.main-container {
  max-width: 950px;
  margin: auto;
}

.titulo {
  text-align: center;
  font-size: 40px;
  text-shadow: 3px 3px 10px #000;
  width: 400px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 5%;
  font-weight: bold;
  font-family: inherit;
  color: white;
}

.subtitulo {
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 3px 10px #000;
  width: 400px;
  margin: auto;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: inherit;
  color: #ffff0d;
}

h1#msg-final {
  text-align: center;
  color: crimson;
  transition: all .5s ease;
  transform: scale(0);
  min-height: 50px;
  margin-bottom: 0;
}
.zoom-in {
  transform: scale(1) !important;
}
#acierto {
  text-align: center;
  min-height: 24px;
  transform: scale(0);
}
.acierto {
  animation: zoomInOut 1s ease;
}
.rojo {
  color: red;
}
.verde {
  color: green;
}
@keyframes zoomInOut {
  0% { transform: scale(0); }
  50% { transform: scale(1); }
  70% { transform: scale(1); }
  100% { transform: scale(0); }
}
h2.palabra {
  margin: 0 auto 25px auto;
  text-align: center;
  color: #4494d4;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: inherit;
  font-weight: bold;
  font-size: 50px;
  width: fit-content;
  padding: 5px;
}
.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto; 
}
.no-wrap {
  flex-wrap: nowrap !important;
}
.col {
  width: 50%;
  text-align: center;
}
.col span {
  
}
#turnos h3 {
  margin: auto;
}
h3 span {
   color: orangered;
}
.letra:disabled {
  color:rgb(255, 255, 255);
  background-color:  #eb3c63;
}
picture {
  position: relative;
}
img
{
  height: 225px;
}
#image5, #image4, #image3,
#image2, #image1, #image0 {
  transition: opacity .3s ease;
}
.fade-in {
  opacity: 1 !important;
}
.encuadre {
  border: 2px dashed crimson;
  padding: 3px 2px 2px 6px;
}

.letra {
  margin: 4px !important;
  padding: 9px !important;
  font-size: 20px;
  border-radius: 10px;
  width: 50px;
  border: 0;
  background-color: #4494d4 ;
  color: white;
  font-weight: bold;
}

.nuevo-juego {
	cursor: pointer;
	background: linear-gradient(#94c4e4 , #4494d4 );
	padding: 9px;
	border-radius: 50px;
	border: white 5px solid;
	font-size: 107%;
	color: white !important;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.volver {
	cursor: pointer;
	background: linear-gradient(#eb3c63  , #ee0d3e  );
	padding: 9px;
	border-radius: 50px;
	border: white 5px solid;
	font-size: 107%;
	color: white !important;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.opciones {
  position: absolute;
  right: 79px;
  top: 77px;
  margin-top: 5px;
  width: 182px;
  padding: 5px;
  height: 187px;
  background-color: antiquewhite;
  border-radius: 10px;
}

.opciones button {
  margin-top: 10px;
  width: 100%;
  border: 5px solid white;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  color: white;
}

.pista {
  margin-top: 0px;
  width: 59px;
  border: 2px solid rgb(99, 99, 99);
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  color: white;
}